<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SEN-APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SEN-APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <ion-item>
     <ion-button color="tertiary" (click)="scanBarcode()">
       Scanner <ion-icon name="barcode" icon-left></ion-icon>
     </ion-button>
   </ion-item>
   <ion-item>
     <ion-button>
       Scan a code
     </ion-button>
   </ion-item>
  </div>
</ion-content>
